# AlphaVantage API

### Initialize

In [2]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv
from datetime import datetime, timedelta
import time

In [12]:
load_dotenv()

apikey = os.getenv("apikey")

In [4]:
base_url = "https://www.alphavantage.co/query?"

In [5]:
symbols = [
    'IBM',    # Technology / Services
    'AAPL',   # Apple - Technology
    'MSFT',   # Microsoft - Technology
    'AMZN',   # Amazon - Consumer Goods / Technology
    'GOOGL',  # Alphabet (Google) - Technology
    'META',     # Meta (Facebook) - Technology
    'JPM',    # JPMorgan Chase - Financial
    'V',      # Visa - Financial
    'PG',     # Procter & Gamble - Consumer Goods
    'UNH',    # UnitedHealth - Healthcare
    'JNJ',    # Johnson & Johnson - Healthcare
    'XOM',    # ExxonMobil - Energy
    'CVX',    # Chevron - Energy
    'TSLA',   # Tesla - Automotive / Energy
    'WMT',    # Walmart - Retail
    'BAC',    # Bank of America - Financial
    'INTC',   # Intel - Technology
    'CSCO',   # Cisco Systems - Technology
    'KO',     # Coca-Cola - Consumer Goods
    'PEP',    # PepsiCo - Consumer Goods
    'MCD',    # McDonald's - Consumer Services
    'MMM',    # 3M - Conglomerate
    'BA',     # Boeing - Aerospace
    'CAT',    # Caterpillar - Heavy Equipment
    'LMT',    # Lockheed Martin - Aerospace and Defense
    'GS',     # Goldman Sachs - Financial
    'DIS',    # Disney - Media and Entertainment
    'PFE',    # Pfizer - Healthcare
    'MRK',    # Merck - Healthcare
    'GE',     # General Electric - Conglomerate
    'NKE',    # Nike - Apparel
    'SBUX',   # Starbucks - Specialty Eateries
    'NFLX',   # Netflix - Media
    'ORCL',   # Oracle - Technology
    'AMD',    # Advanced Micro Devices - Technology
    'NVDA',   # NVIDIA - Technology
    'F',      # Ford - Automotive
    'GM',     # General Motors - Automotive
    'UPS',    # United Parcel Service - Logistics
    'FDX',    # FedEx - Logistics
    'LYFT',   # Lyft - Ride-Sharing
    'UBER'    # Uber - Ride-Sharing
]

### Balance Sheet

In [6]:
dfs = []
for symbol in symbols:
    balance_sheet_url = f"{base_url}function=BALANCE_SHEET&symbol={symbol}&apikey={apikey}"
    balance_sheet_response = requests.get(balance_sheet_url)

    # Check if the request was successful
    if balance_sheet_response.status_code == 200:
        # Parse JSON response
        balance_sheet_data = balance_sheet_response.json()
        
        # Initialize lists to collect data
        fiscal_date_endings = []
        total_assets = []
        total_liabilities = []
        total_shareholder_equity = []
        
        # Extract quarterly reports data
        for report in balance_sheet_data["quarterlyReports"]:
            fiscal_date_endings.append(report['fiscalDateEnding'])
            total_assets.append(report['totalAssets'])
            total_liabilities.append(report.get('totalLiabilities', ""))
            total_shareholder_equity.append(report.get('totalShareholderEquity', ""))
        
        # Create DataFrame for the current symbol
        quarterly_reports_df = pd.DataFrame({
            'Symbol': [symbol] * len(fiscal_date_endings),
            'Fiscal Date Ending': fiscal_date_endings,
            'Total Assets': total_assets,
            'Total Liabilities': total_liabilities,
            'Total Shareholder Equity': total_shareholder_equity
        })
        
        # Append the DataFrame to the list
        dfs.append(quarterly_reports_df)

# Concatenate all DataFrames in the list
quarterly_reports_df = pd.concat(dfs, ignore_index=True)

quarterly_reports_df

,Symbol,Fiscal Date Ending,Total Assets,Total Liabilities,Total Shareholder Equity
0,IBM,2024-03-31,137169000000,113836000000,23261000000
1,IBM,2023-12-31,135241000000,112628000000,22533000000
2,IBM,2023-09-30,129321000000,106165000000,23081000000
3,IBM,2023-06-30,132213000000,109942000000,22201000000
4,IBM,2023-03-31,133637000000,111964000000,21604000000
...,...,...,...,...,...
2330,UBER,2020-03-31,30090000000,17772000000,11342000000
2331,UBER,2019-12-31,31761000000,16578000000,14190000000
2332,UBER,2019-09-30,32292000000,16241000000,15062000000
2333,UBER,2019-06-30,30980000000,15072000000,15922000000
2334,UBER,2019-03-31,24390000000,18602000000,-8432000000

### Income Statement

In [7]:
dfs = []

for symbol in symbols:
    income_statement_url = f"{base_url}function=INCOME_STATEMENT&symbol={symbol}&apikey={apikey}"
    try:
        income_statement_response = requests.get(income_statement_url)
        income_statement_response.raise_for_status()  # Raises an HTTPError for bad responses
        income_statement_data = income_statement_response.json()
    except requests.RequestException as e:
        print(f"Request failed for {symbol}: {e}")
        continue
    
    fiscal_date_endings = []
    total_revenue = []
    total_expenses = []
    ebit = []
    
    for income_report in income_statement_data["quarterlyReports"]:
        fiscal_date_endings.append(income_report['fiscalDateEnding'])
        
        # Safely convert revenue to float
        try:
            total_revenue.append(float(income_report['totalRevenue']))
        except ValueError:
            total_revenue.append(0)
        
        # Safely calculate total expenses
        expenses_components = ['costOfRevenue', 'operatingExpenses', 'interestAndDebtExpense',
                               'depreciationAndAmortization', 'incomeTaxExpense']
        expense_total = 0
        for component in expenses_components:
            try:
                expense_total += float(income_report.get(component, 0) or 0)
            except ValueError:
                continue  # Skip component if conversion fails
        
        total_expenses.append(expense_total)
        ebit.append(income_report.get('ebit', ""))
    
    # Create DataFrame for the current symbol
    income_statements_df = pd.DataFrame({
        'Symbol': [symbol] * len(fiscal_date_endings),
        'Fiscal Date Ending': fiscal_date_endings,
        'Total Revenue': total_revenue,
        'Total Expenses': total_expenses,
        'EBIT': ebit
    })
    
    # Append the DataFrame to the list
    dfs.append(income_statements_df)

# Concatenate all DataFrames in the list
income_statements_df = pd.concat(dfs, ignore_index=True)

income_statements_df

     Symbol Fiscal Date Ending  Total Revenue  Total Expenses         EBIT
0       IBM         2024-03-31   1.446200e+10    1.490400e+10   1535000000
1       IBM         2023-12-31   1.738100e+10    1.499500e+10   4167000000
2       IBM         2023-09-30   1.475200e+10    1.390100e+10   2275000000
3       IBM         2023-06-30   1.547500e+10    1.489000e+10   2425000000
4       IBM         2023-03-31   1.425200e+10    1.503400e+10   1418000000
...     ...                ...            ...             ...          ...
2491   UBER         2019-03-31   3.099000e+09    5.417000e+09   -776000000
2492   UBER         2018-12-31   2.137000e+09    3.814000e+09  -1014000000
2493   UBER         2018-09-30   2.944000e+09    3.839000e+09   -824000000
2494   UBER         2018-06-30   2.768000e+09    3.633000e+09   -690000000
2495   UBER         2018-03-31   2.584000e+09    3.726000e+09   4456000000

[2496 rows x 5 columns]

### Cash Flow

In [8]:
dfs = []  

for symbol in symbols:
    cash_flow_url = f"{base_url}function=CASH_FLOW&symbol={symbol}&apikey={apikey}"
    try:
        cash_flow_response = requests.get(cash_flow_url)
        cash_flow_response.raise_for_status() 
        cash_flow_data = cash_flow_response.json()
    except requests.RequestException as e:
        print(f"Request failed for {symbol}: {e}")
        continue
    
    fiscal_date_endings = []
    investing_flows = []
    operating_flows = []
    financing_flows = []
    
    if "quarterlyReports" in cash_flow_data:
        for cash_flow_report in cash_flow_data["quarterlyReports"]:
            fiscal_date_endings.append(cash_flow_report['fiscalDateEnding'])

            try:
                financing_cash_flow = float(cash_flow_report.get("cashflowFromFinancing", 0) or 0)
                dividend_payout = float(cash_flow_report.get("dividendPayout", 0) or 0)
                financing_flows.append(financing_cash_flow + dividend_payout)
            except ValueError:
                financing_flows.append(0)
            
            try:
                capital_expenditures = float(cash_flow_report.get("capitalExpenditures", 0) or 0)
                investment_cash_flow = float(cash_flow_report.get("cashflowFromInvestment", 0) or 0)
                investing_flows.append(capital_expenditures + investment_cash_flow)
            except ValueError:
                investing_flows.append(0)
            
            try:
                operating_flows.append(float(cash_flow_report.get('operatingCashflow', 0) or 0))
            except ValueError:
                operating_flows.append(0)
        
        cash_flows_df = pd.DataFrame({
            'Symbol': [symbol] * len(fiscal_date_endings),
            'Fiscal Date Ending': fiscal_date_endings,
            'Operating Cash Flow': operating_flows,
            'Investing Cash Flow': investing_flows,
            'Financing Cash Flow': financing_flows
        })

        dfs.append(cash_flows_df)

all_cash_flows_df = pd.concat(dfs, ignore_index=True)
all_cash_flows_df

,Symbol,Fiscal Date Ending,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow
0,IBM,2024-03-31,4.168000e+09,-3.971000e+09,3.399000e+09
1,IBM,2023-12-31,4.463000e+09,3.136000e+09,-9.700000e+07
2,IBM,2023-09-30,3.056000e+09,-1.672000e+09,-1.617000e+09
3,IBM,2023-06-30,2.638000e+09,3.710000e+08,-1.220000e+09
4,IBM,2023-03-31,3.774000e+09,-7.660000e+09,7.205000e+09
...,...,...,...,...,...
2399,UBER,2019-03-31,-7.220000e+08,3.330000e+08,0.000000e+00
2400,UBER,2018-12-31,-6.810000e+08,4.000000e+07,0.000000e+00
2401,UBER,2018-09-30,-4.100000e+08,8.000000e+07,0.000000e+00
2402,UBER,2018-06-30,-1.530000e+08,2.800000e+07,0.000000e+00
2403,UBER,2018-03-31,-2.970000e+08,-2.850000e+08,0.000000e+00

### Market Indicators

RSI:

In [17]:
load_dotenv()

apikey = os.getenv("apikey")

def fetch_rsi_daily(base_url, apikey, symbols, start_year, start_month):
    all_rsi_data = pd.DataFrame()
    
    for symbol in symbols:
        start_date = datetime(start_year, start_month, 1)
        current_date = datetime.now().replace(day=1)
        
        while start_date < current_date:
            month_str = start_date.strftime('%Y-%m')
            rsi_url = f'{base_url}function=RSI&symbol={symbol}&interval=daily&time_period=10&series_type=open&apikey={apikey}&month={month_str}'
            try:
                response = requests.get(rsi_url)
                response.raise_for_status()
                data = response.json()

                if 'Technical Analysis: RSI' in data:
                    rsi_data = data['Technical Analysis: RSI']
                    df = pd.DataFrame.from_dict(rsi_data, orient='index')
                    df.index = pd.to_datetime(df.index)
                    df.columns = ['Daily RSI']
                    df['Daily RSI'] = df['Daily RSI'].astype(float)
                    df['Symbol'] = symbol  
                    
                    all_rsi_data = pd.concat([all_rsi_data, df])
                else:
                    print(f"No RSI data available for {symbol} in {month_str}")
            except requests.RequestException as e:
                print(f"Failed to retrieve data for {symbol} in {month_str}: {e}")
            
            start_date = (start_date + timedelta(days=32)).replace(day=1)
            time.sleep(1) 
    
    return all_rsi_data

daily_rsi_data_df = fetch_rsi_daily(base_url, apikey, symbols, 2000, 1)

daily_rsi_data_df

VWAP:

In [14]:
load_dotenv()

apikey = os.getenv("apikey")

def fetch_vwap_daily(base_url, apikey, symbols, start_year, start_month):
    all_vwap_data = pd.DataFrame()

    for symbol in symbols:
        start_date = datetime(start_year, start_month, 1)
        current_date = datetime.now().replace(day=1)
        
        while start_date < current_date:
            month_str = start_date.strftime('%Y-%m')
            vwap_url = f"{base_url}function=VWAP&symbol={symbol}&interval=60min&apikey={apikey}&month={month_str}"
            try:
                response = requests.get(vwap_url)
                response.raise_for_status()
                data = response.json()
            except requests.RequestException as e:
                print(f"Failed to retrieve VWAP data for {symbol} in {month_str}: {e}")
                continue

            if 'Technical Analysis: VWAP' in data:
                vwap_data = data['Technical Analysis: VWAP']
                df = pd.DataFrame.from_dict(vwap_data, orient='index')
                df.index = pd.to_datetime(df.index)
                df.columns = ['Daily VWAP']
                df['Daily VWAP'] = df['Daily VWAP'].astype(float)

                df['Symbol'] = symbol
                all_vwap_data = pd.concat([all_vwap_data, df])

            else:
                print(f"No VWAP data available for {symbol} in {month_str}")

            start_date += timedelta(days=32)
            start_date = start_date.replace(day=1)

            time.sleep(1)

    return all_vwap_data

daily_vwap_data = fetch_vwap_daily(base_url, apikey, symbols, 2000, 1)
daily_vwap_data

KeyboardInterrupt:

MACD:

In [ ]:
load_dotenv()

apikey = os.getenv("apikey")

def fetch_macd_daily(base_url, apikey, symbols, start_year, start_month):
    all_macd_data = pd.DataFrame() 

    for symbol in symbols: 
        start_date = datetime(start_year, start_month, 1)
        current_date = datetime.now().replace(day=1)

        while start_date < current_date:
            month_str = start_date.strftime('%Y-%m')
            macd_url = f'{base_url}function=MACD&symbol={symbol}&interval=daily&time_period=10&series_type=open&apikey={apikey}&month={month_str}'
            try:
                response = requests.get(macd_url)
                response.raise_for_status() 
                data = response.json()
            except requests.RequestException as e:
                print(f"Failed to retrieve MACD data for {symbol} in {month_str}: {e}")
                continue 

            if 'Technical Analysis: MACD' in data:
                macd_data = data['Technical Analysis: MACD']
                df = pd.DataFrame({date: values['MACD'] for date, values in macd_data.items()}, index=[0]).T
                df.index = pd.to_datetime(df.index)
                df.columns = ['Daily MACD']
                df['Daily MACD'] = df['Daily MACD'].astype(float)
                df['Symbol'] = symbol 

                all_macd_data = pd.concat([all_macd_data, df])
            else:
                print(f"No MACD data available for {symbol} in {month_str}")

            start_date += timedelta(days=32)
            start_date = start_date.replace(day=1)

            time.sleep(1) 
            
    return all_macd_data

daily_macd_data_df = fetch_macd_daily(base_url, apikey, symbols, 2000, 1)

daily_macd_data_df

            Daily MACD
2024-05-10     -4.9744
2024-05-09     -5.2641
2024-05-08     -5.5950
2024-05-07     -5.8177
2024-05-06     -6.1173
...                ...
1999-12-23      1.5658
1999-12-22      1.7042
1999-12-21      1.8167
1999-12-20      2.0058
1999-12-17      2.1886

[30690 rows x 1 columns]

Daily Technical Indicators:

In [ ]:
start_date = datetime(2000, 1, 1)
end_date = datetime.now().replace(day=1)

daily_macd_data_df = daily_macd_data_df[(daily_macd_data_df.index >= start_date) & (daily_macd_data_df.index < end_date)]
daily_vwap_data = daily_vwap_data[(daily_vwap_data.index >= start_date) & (daily_vwap_data.index < end_date)]
daily_rsi_data_df = daily_rsi_data_df[(daily_rsi_data_df.index >= start_date) & (daily_rsi_data_df.index < end_date)]

daily_macd_data_df.index = daily_macd_data_df.index.normalize()
daily_vwap_data.index = daily_vwap_data.index.normalize()
daily_rsi_data_df.index = daily_rsi_data_df.index.normalize()

combined_df = pd.merge(daily_macd_data_df, daily_vwap_data, how='inner', left_index=True, right_index=True)
combined_df = pd.merge(combined_df, daily_rsi_data_df, how='inner', left_index=True, right_index=True)

daily_technical_indicators_combined_df = combined_df[~combined_df.index.duplicated(keep='first')]

daily_technical_indicators_combined_df

            Daily MACD  Daily VWAP  Daily RSI
2024-01-02      2.4353    162.4933    61.4287
2024-01-03      2.1528    159.5297    48.9172
2024-01-04      1.8459    158.8627    44.6138
2024-01-05      1.5602    157.5377    42.9455
2024-01-08      1.2230    157.4423    36.9099
...                ...         ...        ...
2024-04-25     -2.9381    166.6323    14.6350
2024-04-26     -3.8716    167.6987    14.1911
2024-04-29     -4.5667    165.7713    14.1232
2024-04-30     -5.1311    165.5237    13.4707
2024-05-01     -5.5781    164.2557    12.8890

[84 rows x 3 columns]

Quarterly Technical Indicators:

### Ratios

Debt to Equity Ratio:

In [ ]:
balance_sheet_url = f"{base_url}function=BALANCE_SHEET&symbol={symbol}&apikey={apikey}"
balance_sheet_response = requests.get(balance_sheet_url)

if balance_sheet_response.status_code == 200:
    balance_sheet_data = balance_sheet_response.json()
    
    fiscal_date_endings = []
    total_assets = []
    total_liabilities = []
    total_shareholder_equity = []
    
    for report in balance_sheet_data["quarterlyReports"]:
        fiscal_date_endings.append(report['fiscalDateEnding'])
        total_liabilities.append(float(report.get('totalLiabilities', "0")))
        total_shareholder_equity.append(float(report.get('totalShareholderEquity', "0")))
    
    debt_to_equity_ratios = [liabilities / equity if equity != 0 else 0 for liabilities, equity in zip(total_liabilities, total_shareholder_equity)]
    
    debt_to_equity_ratio_df = pd.DataFrame({
        'Symbol': [symbol] * len(fiscal_date_endings),
        'Fiscal Date Ending': fiscal_date_endings,
        'Debt to Equity Ratio': debt_to_equity_ratios
    })

debt_to_equity_ratio_df

   Symbol Fiscal Date Ending  Debt to Equity Ratio
0     IBM         2024-03-31              4.893857
1     IBM         2023-12-31              4.998358
2     IBM         2023-09-30              4.599671
3     IBM         2023-06-30              4.952119
4     IBM         2023-03-31              5.182559
5     IBM         2022-12-31              4.795024
6     IBM         2022-09-30              5.265142
7     IBM         2022-06-30              5.565768
8     IBM         2022-03-31              5.992756
9     IBM         2021-12-31              5.978784
10    IBM         2021-09-30              5.482185
11    IBM         2021-06-30              5.685307
12    IBM         2021-03-31              5.943055
13    IBM         2020-12-31              6.566199
14    IBM         2020-09-30              6.261505
15    IBM         2020-06-30              6.496618
16    IBM         2020-03-31              6.664083
17    IBM         2019-12-31              6.295379
18    IBM         2019-09-30              7.324794
19    IBM         2019-06-30              7.757212
20    IBM         2019-03-31              6.936472
21    IBM         2018-12-31              6.337938
22    IBM         2018-09-30              5.159270
23    IBM         2018-06-30              5.560151
24    IBM         2018-03-31              5.889849
25    IBM         2017-12-31              6.117483
26    IBM         2017-09-30              5.190758
27    IBM         2017-06-30              5.535100
28    IBM         2017-03-31              5.404431
29    IBM         2016-12-31              5.430122
30    IBM         2016-09-30              5.787596
31    IBM         2016-06-30              6.493803
32    IBM         2016-03-31              6.953702
33    IBM         2015-12-31              6.736152
34    IBM         2015-09-30              7.160975
35    IBM         2015-06-30              7.226834
36    IBM         2015-03-31              8.215715
37    IBM         2014-12-31              8.868975
38    IBM         2014-09-30              7.331813
39    IBM         2014-06-30              6.146113
40    IBM         2014-03-31              6.377190
41    IBM         2013-12-31              4.532029
42    IBM         2013-09-30              4.922121
43    IBM         2013-06-30              5.478092
44    IBM         2013-03-31              5.135345
45    IBM         2012-12-31              5.314369
46    IBM         2012-09-30              4.368971
47    IBM         2012-06-30              4.555930
48    IBM         2012-03-31              4.568040
49    IBM         2011-12-31              4.776889
50    IBM         2011-09-30              3.937957
51    IBM         2011-06-30              3.902927
52    IBM         2011-03-31              3.977990
53    IBM         2010-12-31              3.917339
54    IBM         2010-09-30              3.813967
55    IBM         2010-06-30              3.905409
56    IBM         2010-03-31              3.769754
57    IBM         2009-12-31              3.810885
58    IBM         2009-09-30              4.630463
59    IBM         2009-06-30              5.733550

Inventory Turnover

In [ ]:

def fetch_financial_data(base_url, apikey, symbol):
    balance_sheet_url = f"{base_url}function=BALANCE_SHEET&symbol={symbol}&apikey={apikey}"
    income_statement_url = f"{base_url}function=INCOME_STATEMENT&symbol={symbol}&apikey={apikey}"

    balance_response = requests.get(balance_sheet_url)
    balance_data = balance_response.json() if balance_response.status_code == 200 else {}

    income_response = requests.get(income_statement_url)
    income_data = income_response.json() if income_response.status_code == 200 else {}

    fiscal_date_endings = []
    inventory_turnovers = []

    if 'quarterlyReports' in balance_data and 'quarterlyReports' in income_data:
        balance_reports = balance_data['quarterlyReports']
        income_reports = {report['fiscalDateEnding']: float(report['costofGoodsAndServicesSold']) for report in income_data['quarterlyReports']}

        for report in balance_reports:
            date = report['fiscalDateEnding']
            if date in income_reports:
                inventory = float(report.get('inventory', '0'))
                cogs = income_reports[date]

                current_index = balance_reports.index(report)
                previous_inventory = float(balance_reports[current_index - 1].get('inventory', '0')) if current_index > 0 else inventory
                average_inventory = (inventory + previous_inventory) / 2

                inventory_turnover = cogs / average_inventory if average_inventory != 0 else 0
                fiscal_date_endings.append(date)
                inventory_turnovers.append(inventory_turnover)

    inventory_turnover_df = pd.DataFrame({
        'Symbol': [symbol] * len(fiscal_date_endings),
        'Fiscal Date Ending': fiscal_date_endings,
        'Inventory Turnover': inventory_turnovers
    })

    return inventory_turnover_df

inventory_turnover_df = fetch_financial_data(base_url, apikey, 'IBM')
inventory_turnover_df

   Symbol Fiscal Date Ending  Inventory Turnover
0     IBM         2024-03-31            0.023102
1     IBM         2023-12-31            0.094395
2     IBM         2023-09-30            0.032813
3     IBM         2023-06-30            0.042069
4     IBM         2023-03-31            0.019330
5     IBM         2022-12-31            0.120444
6     IBM         2022-09-30            0.034071
7     IBM         2022-06-30            0.069005
8     IBM         2022-03-31            0.010983
9     IBM         2021-12-31            0.051971
10    IBM         2021-09-30            0.027684
11    IBM         2021-06-30            0.055706
12    IBM         2021-03-31            0.032462
13    IBM         2020-12-31            0.099451
14    IBM         2020-09-30            0.034034
15    IBM         2020-06-30            0.061289
16    IBM         2020-03-31            0.041587
17    IBM         2019-12-31            0.227313
18    IBM         2019-09-30            0.045032
19    IBM         2019-06-30            0.042812
20    IBM         2019-03-31            0.031286
21    IBM         2018-12-31            6.413553
22    IBM         2018-09-30            5.568112
23    IBM         2018-06-30            5.944429
24    IBM         2018-03-31            6.194564
25    IBM         2017-12-31            6.811751
26    IBM         2017-09-30            6.090468
27    IBM         2017-06-30            6.158069
28    IBM         2017-03-31            6.289449
29    IBM         2016-12-31            6.699557
30    IBM         2016-09-30            6.065814
31    IBM         2016-06-30            6.018161
32    IBM         2016-03-31            5.783704
33    IBM         2015-12-31            6.402345
34    IBM         2015-09-30            6.075221
35    IBM         2015-06-30            5.762837
36    IBM         2015-03-31            5.102009
37    IBM         2014-12-31            5.390130
38    IBM         2014-09-30            5.053151
39    IBM         2014-06-30            5.181082
40    IBM         2014-03-31            4.865248
41    IBM         2013-12-31            5.488040
42    IBM         2013-09-30            5.028322
43    IBM         2013-06-30            5.133374
44    IBM         2013-03-31            5.179626
45    IBM         2012-12-31            5.876805
46    IBM         2012-09-30            5.235789
47    IBM         2012-06-30            4.947605
48    IBM         2012-03-31            4.829463
49    IBM         2011-12-31            5.416713
50    IBM         2011-09-30            5.214150
51    IBM         2011-06-30            5.352559
52    IBM         2011-03-31            5.273721
53    IBM         2010-12-31            5.795959
54    IBM         2010-09-30            5.127387
55    IBM         2010-06-30            4.839587
56    IBM         2010-03-31            4.925962
57    IBM         2009-12-31            5.493822
58    IBM         2009-09-30            5.014683
59    IBM         2009-06-30            4.722551

ROI

In [ ]:

def fetch_roa_data(base_url, apikey, symbol):
    balance_sheet_url = f"{base_url}function=BALANCE_SHEET&symbol={symbol}&apikey={apikey}"
    income_statement_url = f"{base_url}function=INCOME_STATEMENT&symbol={symbol}&apikey={apikey}"

    balance_response = requests.get(balance_sheet_url)
    balance_data = balance_response.json() if balance_response.status_code == 200 else {}

    income_response = requests.get(income_statement_url)
    income_data = income_response.json() if income_response.status_code == 200 else {}

    fiscal_date_endings = []
    roa_values = []

    if 'quarterlyReports' in balance_data and 'quarterlyReports' in income_data:
        balance_reports = {report['fiscalDateEnding']: float(report['totalAssets']) for report in balance_data['quarterlyReports']}
        income_reports = {report['fiscalDateEnding']: float(report['netIncome']) for report in income_data['quarterlyReports']}

        for date, assets in balance_reports.items():
            if date in income_reports:
                net_income = income_reports[date]
                roa = (net_income / assets) * 100 if assets != 0 else 0
                fiscal_date_endings.append(date)
                roa_values.append(roa)

    roa_df = pd.DataFrame({
        'Symbol': [symbol] * len(fiscal_date_endings),
        'Fiscal Date Ending': fiscal_date_endings,
        'ROA (%)': roa_values
    })

    return roa_df

roa_df = fetch_roa_data(base_url, apikey, 'IBM')
roa_df

   Symbol Fiscal Date Ending   ROA (%)
0     IBM         2024-03-31  1.170089
1     IBM         2023-12-31  2.431215
2     IBM         2023-09-30  1.317651
3     IBM         2023-06-30  1.197310
4     IBM         2023-03-31  0.693670
5     IBM         2022-12-31  2.129783
6     IBM         2022-09-30 -2.539531
7     IBM         2022-06-30  1.091739
8     IBM         2022-03-31  0.549991
9     IBM         2021-12-31  1.767411
10    IBM         2021-09-30  0.783558
11    IBM         2021-06-30  0.902502
12    IBM         2021-03-31  0.642539
13    IBM         2020-12-31  0.869392
14    IBM         2020-09-30  1.101682
15    IBM         2020-06-30  0.882620
16    IBM         2020-03-31  0.765956
17    IBM         2019-12-31  2.411523
18    IBM         2019-09-30  1.117498
19    IBM         2019-06-30  1.615239
20    IBM         2019-03-31  1.215190
21    IBM         2018-12-31  1.581268
22    IBM         2018-09-30  2.208378
23    IBM         2018-06-30  1.976616
24    IBM         2018-03-31  1.340144
25    IBM         2017-12-31 -0.840805
26    IBM         2017-09-30  2.241113
27    IBM         2017-06-30  1.934520
28    IBM         2017-03-31  1.489425
29    IBM         2016-12-31  3.831617
30    IBM         2016-09-30  2.467865
31    IBM         2016-06-30  2.121027
32    IBM         2016-03-31  1.694487
33    IBM         2015-12-31  4.044436
34    IBM         2015-09-30  2.712956
35    IBM         2015-06-30  3.057421
36    IBM         2015-03-31  2.076814
37    IBM         2014-12-31  4.673960
38    IBM         2014-09-30  0.013119
39    IBM         2014-06-30  3.325933
40    IBM         2014-03-31  1.944213
41    IBM         2013-12-31  4.919732
42    IBM         2013-09-30  3.427553
43    IBM         2013-06-30  2.800709
44    IBM         2013-03-31  2.584557
45    IBM         2012-12-31  4.890910
46    IBM         2012-09-30  3.300282
47    IBM         2012-06-30  3.407653
48    IBM         2012-03-31  2.654946
49    IBM         2011-12-31  4.714900
50    IBM         2011-09-30  3.484177
51    IBM         2011-06-30  3.227083
52    IBM         2011-03-31  2.532224
53    IBM         2010-12-31  4.630505
54    IBM         2010-09-30  3.346334
55    IBM         2010-06-30  3.273061
56    IBM         2010-03-31  2.472245
57    IBM         2009-12-31  4.414705
58    IBM         2009-09-30  3.100072
59    IBM         2009-06-30  2.993584

### Economic Indicators

Inflation

In [ ]:
inflation_url = f"{base_url}function=INFLATION&symbol={symbol}&apikey={apikey}"
inflation_response = requests.get(inflation_url)

if inflation_response.status_code == 200:
    inflation_data = inflation_response.json()
    
    report_date = []
    inflation_rate = []
    
    for value in inflation_data["data"]:
        report_date.append(value['date'])
        inflation_rate.append(value['value'])
    
    inflation_rates_df = pd.DataFrame({
        'Date': report_date,
        'Inflation Rate': inflation_rate
    })

inflation_rates_df

          Date    Inflation Rate
0   2022-01-01  8.00279982052121
1   2021-01-01  4.69785886363742
2   2020-01-01  1.23358439630629
3   2019-01-01  1.81221007526021
4   2018-01-01  2.44258329692817
..         ...               ...
58  1964-01-01  1.27891156462591
59  1963-01-01  1.23966942148753
60  1962-01-01  1.19877334820186
61  1961-01-01  1.07072414764724
62  1960-01-01  1.45797598627791

[63 rows x 2 columns]

Unemployment

In [ ]:
unemployment_url = f"{base_url}function=UNEMPLOYMENT&symbol={symbol}&apikey={apikey}"
unemployment_response = requests.get(unemployment_url)

if unemployment_response.status_code == 200:
    unemployment_data = unemployment_response.json()
    
    report_date = []
    unemployment_rate = []
    
    for value in unemployment_data["data"]:
        report_date.append(value['date'])
        unemployment_rate.append(value['value'])
    
    unemployment_rates_df = pd.DataFrame({
        'Date': report_date,
        'Unemployment Rate': unemployment_rate
    })

unemployment_rates_df

           Date Unemployment Rate
0    2024-04-01               3.9
1    2024-03-01               3.8
2    2024-02-01               3.9
3    2024-01-01               3.7
4    2023-12-01               3.7
..          ...               ...
911  1948-05-01               3.5
912  1948-04-01               3.9
913  1948-03-01               4.0
914  1948-02-01               3.8
915  1948-01-01               3.4

[916 rows x 2 columns]

GPD

In [ ]:
gdp_url = f"{base_url}function=GDP&symbol={symbol}&apikey={apikey}"
gdp_response = requests.get(gdp_url)

if gdp_response.status_code == 200:
    gdp_data = unemployment_response.json()
    
    report_date = []
    gdp_rate = []
    
    for value in gdp_data["data"]:
        report_date.append(value['date'])
        gdp_rate.append(value['value'])
    
    gdp_rates_df = pd.DataFrame({
        'Date': report_date,
        'GDP Rate': gdp_rate
    })

gdp_rates_df

           Date GDP Rate
0    2024-04-01      3.9
1    2024-03-01      3.8
2    2024-02-01      3.9
3    2024-01-01      3.7
4    2023-12-01      3.7
..          ...      ...
911  1948-05-01      3.5
912  1948-04-01      3.9
913  1948-03-01      4.0
914  1948-02-01      3.8
915  1948-01-01      3.4

[916 rows x 2 columns]

## Company Overview

In [ ]:
dfs = []

for symbol in symbols:
    company_overview_url = f"{base_url}function=OVERVIEW&symbol={symbol}&apikey={apikey}"
    company_overview_response = requests.get(company_overview_url)

    if company_overview_response.status_code == 200:
        company_overview_data = company_overview_response.json()

        company_overview_selected_data = {
            "Symbol": company_overview_data.get("Symbol", ""),
            "Name": company_overview_data.get("Name", ""),
            "Industry": company_overview_data.get("Industry", ""),
            "Address": company_overview_data.get("Address", "")
        }

        temp_df = pd.DataFrame([company_overview_selected_data])
        address_parts = temp_df['Address'].str.split(', ', expand=True)
        temp_df['Street Address'] = address_parts.get(0, "")
        temp_df['City'] = address_parts.get(1, "")
        temp_df['State'] = address_parts.get(2, "")
        temp_df['Country'] = address_parts.get(3, "")
        temp_df = temp_df.drop(columns=['Address'])

        dfs.append(temp_df)

company_overview_df = pd.concat(dfs, ignore_index=True)

company_overview_df = company_overview_df.dropna(how='all')

company_overview_df

,Symbol,Name,Industry,Street Address,City,State,Country
0,IBM,International Business Machines,COMPUTER & OFFICE EQUIPMENT,1 NEW ORCHARD ROAD,ARMONK,NY,US
1,AAPL,Apple Inc,ELECTRONIC COMPUTERS,ONE INFINITE LOOP,CUPERTINO,CA,US
2,MSFT,Microsoft Corporation,SERVICES-PREPACKAGED SOFTWARE,ONE MICROSOFT WAY,REDMOND,WA,US
3,AMZN,Amazon.com Inc,RETAIL-CATALOG & MAIL-ORDER HOUSES,410 TERRY AVENUE NORTH,SEATTLE,WA,US
4,GOOGL,Alphabet Inc Class A,"SERVICES-COMPUTER PROGRAMMING, DATA PROCESSING...",1600 AMPHITHEATRE PARKWAY,MOUNTAIN VIEW,CA,US
5,META,Meta Platforms Inc.,"SERVICES-COMPUTER PROGRAMMING, DATA PROCESSING...",1601 WILLOW ROAD,MENLO PARK,CA,US
6,JPM,JPMorgan Chase & Co,NATIONAL COMMERCIAL BANKS,383 MADISON AVENUE,NEW YORK,NY,US
7,V,Visa Inc. Class A,"SERVICES-BUSINESS SERVICES, NEC",P.O. BOX 8999,SAN FRANCISCO,CA,US
8,PG,Procter & Gamble Company,"SOAP, DETERGENTS, CLEANG PREPARATIONS, PERFUME...",ONE PROCTER & GAMBLE PLAZA,CINCINNATI,OH,US
9,UNH,UnitedHealth Group Incorporated,HOSPITAL & MEDICAL SERVICE PLANS,UNITEDHEALTH GROUP CENTER,9900 BREN ROAD EAST,MINNEAPOLIS,MN
10,JNJ,Johnson & Johnson,PHARMACEUTICAL PREPARATIONS,ONE JOHNSON & JOHNSON PLZ,NEW BRUNSWICK,NJ,US
11,XOM,Exxon Mobil Corp,PETROLEUM REFINING,5959 LAS COLINAS BLVD,IRVING,TX,US
12,CVX,Chevron Corp,PETROLEUM REFINING,6001 BOLLINGER CANYON ROAD,SAN RAMON,CA,US
13,TSLA,Tesla Inc,MOTOR VEHICLES & PASSENGER CAR BODIES,3500 DEER CREEK RD,PALO ALTO,CA,US
14,WMT,Walmart Inc,RETAIL-VARIETY STORES,702 SOUTHWEST 8TH ST,BENTONVILLE,AR,US
15,BAC,Bank of America Corp,NATIONAL COMMERCIAL BANKS,BANK OF AMERICA CORPORATE CENTER,100 N TRYON ST,CHARLOTTE,NC
16,INTC,Intel Corporation,SEMICONDUCTORS & RELATED DEVICES,2200 MISSION COLLEGE BLVD,RNB-4-151,SANTA CLARA,CA
17,CSCO,Cisco Systems Inc,COMPUTER COMMUNICATIONS EQUIPMENT,170 WEST TASMAN DR,SAN JOSE,CA,US
18,KO,The Coca-Cola Company,BEVERAGES,ONE COCA COLA PLAZA,ATLANTA,GA,US
19,PEP,PepsiCo Inc,BEVERAGES,700 ANDERSON HILL RD,PURCHASE,NY,US
20,MCD,McDonald’s Corporation,RETAIL-EATING PLACES,110 NORTH CARPENTER STREET,CHICAGO,IL,US
21,MMM,3M Company,SURGICAL & MEDICAL INSTRUMENTS & APPARATUS,3M CENTER,BLDG. 220-13E-26A,ST PAUL,MN
22,BA,The Boeing Company,AIRCRAFT,P O BOX 3707 MS 1F 31,SEATTLE,WA,US
23,CAT,Caterpillar Inc,CONSTRUCTION MACHINERY & EQUIP,510 LAKE COOK ROAD,SUITE 100,DEERFIELD,IL
24,LMT,Lockheed Martin Corporation,GUIDED MISSILES & SPACE VEHICLES & PARTS,6801 ROCKLEDGE DR,BETHESDA,MD,US
25,GS,Goldman Sachs Group Inc,"SECURITY BROKERS, DEALERS & FLOTATION COMPANIES",200 WEST STREET,NEW YORK,NY,US
26,DIS,Walt Disney Company,SERVICES-MISCELLANEOUS AMUSEMENT & RECREATION,500 SOUTH BUENA VISTA STREET,BURBANK,CA,US
27,PFE,Pfizer Inc,PHARMACEUTICAL PREPARATIONS,235 E 42ND ST,NEW YORK,NY,US
28,MRK,Merck & Company Inc,PHARMACEUTICAL PREPARATIONS,2000 GALLOPING HILL ROAD,KENILWORTH,NJ,US
29,GE,GE Aerospace,ELECTRONIC & OTHER ELECTRICAL EQUIPMENT (NO CO...,41 FARNSWORTH STREET,BOSTON,MA,US
30,NKE,Nike Inc,RUBBER & PLASTICS FOOTWEAR,ONE BOWERMAN DR,BEAVERTON,OR,US
31,SBUX,Starbucks Corporation,RETAIL-EATING & DRINKING PLACES,P O BOX 34067,SEATTLE,WA,US
32,NFLX,Netflix Inc,SERVICES-VIDEO TAPE RENTAL,100 WINCHESTER CIRCLE,.,LOS GATOS,CA
33,ORCL,Oracle Corporation,SERVICES-PREPACKAGED SOFTWARE,500 ORACLE PARKWAY,MAIL STOP 5 OP 7,REDWOOD CITY,CA
34,AMD,Advanced Micro Devices Inc,SEMICONDUCTORS & RELATED DEVICES,2485 AUGUSTINE DRIVE,SANTA CLARA,CA,US
35,NVDA,NVIDIA Corporation,SEMICONDUCTORS & RELATED DEVICES,2701 SAN TOMAS EXPRESSWAY,SANTA CLARA,CA,US
36,F,Ford Motor Company,MOTOR VEHICLES & PASSENGER CAR BODIES,ONE AMERICAN ROAD,DEARBORN,MI,US
37,GM,General Motors Company,MOTOR VEHICLES & PASSENGER CAR BODIES,300 RENAISSANCE CENTER,DETROIT,MI,US
38,UPS,United Parcel Service Inc,TRUCKING & COURIER SERVICES (NO AIR),55 GLENLAKE PARKWAY NE,ATLANTA,GA,US
39,FDX,FedEx Corporation,AIR COURIER SERVICES,942 SOUTH SHADY GROVE ROAD,MEMPHIS,TN,US
40,LYFT,LYFT Inc,"SERVICES-BUSINESS SERVICES, NEC",185 BERRY STREET,SUITE 5000,SAN FRANCISCO,CA
41,UBER,Uber Technologies Inc,"SERVICES-BUSINESS SERVICES, NEC",1455 MARKET ST.,4TH FLOOR,SAN FRANCISCO,CA

## Financial Statements

In [ ]:
quarterly_reports_df['Fiscal Date Ending'] = pd.to_datetime(quarterly_reports_df['Fiscal Date Ending'])
income_statements_df['Fiscal Date Ending'] = pd.to_datetime(income_statements_df['Fiscal Date Ending'])
cash_flows_df['Fiscal Date Ending'] = pd.to_datetime(cash_flows_df['Fiscal Date Ending'])

combined_df = pd.merge(quarterly_reports_df, income_statements_df, on=['Symbol', 'Fiscal Date Ending'], how='outer')
combined_df = pd.merge(combined_df, cash_flows_df, on=['Symbol', 'Fiscal Date Ending'], how='outer')

financial_statements_df = combined_df[combined_df['Fiscal Date Ending'] >= '2009-06-30']

financial_statements_df.sort_values('Fiscal Date Ending', inplace=True)

financial_statements_df

/var/folders/kf/x49nrq891g3dcplsvlw9bh4r0000gn/T/ipykernel_10058/3766564765.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  financial_statements_df.sort_values('Fiscal Date Ending', inplace=True)

,Symbol,Fiscal Date Ending,Total Assets,Total Liabilities,Total Shareholder Equity,Total Revenue,Total Expenses,EBIT,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow
59,IBM,2009-06-30,103655000000,88182000000,15380000000,23250000000,2.182100e+10,4363000000,4.741000e+09,-9.860000e+08,-3.011000e+09
58,IBM,2009-09-30,103675000000,85182000000,18396000000,23566000000,2.102900e+10,4457000000,5.198000e+09,-2.180000e+09,-4.442000e+09
57,IBM,2009-12-31,109022000000,86267000000,22637000000,27230000000,2.343100e+10,6462000000,6.448000e+09,1.106000e+09,-4.790000e+08
56,IBM,2010-03-31,105208000000,83059000000,22033000000,22857000000,2.171600e+10,3597000000,4.437000e+09,-5.530000e+08,-2.650000e+09
55,IBM,2010-06-30,103420000000,82244000000,21059000000,23724000000,2.152000e+10,4665000000,3.766000e+09,-1.805000e+09,-2.913000e+09
54,IBM,2010-09-30,107174000000,84815000000,22238000000,24271000000,2.099800e+10,4769400000,4.551000e+09,-1.634000e+09,-2.637000e+09
53,IBM,2010-12-31,113452000000,90279000000,23046000000,29018000000,2.674600e+10,7052400000,6.795000e+09,2.390000e+08,-1.052000e+09
52,IBM,2011-03-31,112960000000,90185000000,22671000000,24607000000,2.347800e+10,3907400000,3.792000e+09,1.556000e+09,-1.519000e+09
51,IBM,2011-06-30,113474000000,90263000000,23127000000,26666000000,2.422500e+10,4979900000,4.279000e+09,3.670000e+08,-3.998000e+09
50,IBM,2011-09-30,110158000000,87781000000,22291000000,26157000000,2.351100e+10,5133100000,3.839000e+09,6.670000e+08,-2.776000e+09
49,IBM,2011-12-31,116433000000,96197000000,20138000000,29486000000,2.663300e+10,7386700000,7.096000e+09,-2.319000e+09,-1.930000e+09
48,IBM,2012-03-31,115347000000,94563000000,20701000000,24673000000,2.329200e+10,3941400000,4.291000e+09,-1.133000e+09,-1.446000e+09
47,IBM,2012-06-30,113832000000,93269000000,20472000000,25783000000,2.378400e+10,5276000000,3.881000e+09,-3.250000e+08,-2.384000e+09
46,IBM,2012-09-30,115778000000,94112000000,21541000000,24747000000,2.348600e+10,5196000000,3.824000e+09,1.040000e+08,-1.539000e+09
45,IBM,2012-12-31,119213000000,100229000000,18860000000,27671000000,2.428300e+10,8180600000,6.346000e+09,-2.933000e+09,-2.834000e+09
44,IBM,2013-03-31,117258000000,98044000000,19092000000,23408000000,2.221100e+10,3698600000,4.023000e+09,-1.590000e+08,-1.768000e+09
43,IBM,2013-06-30,115153000000,97269000000,17756000000,24924000000,2.278600e+10,4241100000,3.932000e+09,1.320000e+08,-2.279000e+09
42,IBM,2013-09-30,117845000000,97837000000,19877000000,23338000000,2.035700e+10,4968200000,4.746000e+09,-1.431000e+09,2.100000e+08
41,IBM,2013-12-31,125641000000,103294000000,22792000000,27385000000,2.347900e+10,7179200000,6.528000e+09,-1.728000e+09,-1.988000e+09
40,IBM,2014-03-31,122646000000,105906000000,16607000000,22236000000,2.077800e+10,3142500000,3.326000e+09,9.960000e+08,-3.683000e+09
39,IBM,2014-06-30,124314000000,106801000000,17377000000,24047000000,2.111100e+10,5366600000,4.605000e+09,1.800000e+07,-1.164000e+09
38,IBM,2014-09-30,118911000000,104515000000,14255000000,22397000000,1.986800e+10,1047600000,1.800000e+07,3.500000e+08,-1.730000e+09
37,IBM,2014-12-31,117271000000,105257000000,11868000000,24113000000,1.968600e+10,7177200000,-6.490000e+08,-1.820000e+08,-4.610000e+09
36,IBM,2015-03-31,112037000000,99747000000,12141000000,19590000000,1.843900e+10,3019800000,4.045000e+09,1.530000e+09,-2.314000e+09
35,IBM,2015-06-30,112729000000,98892000000,13684000000,20813000000,1.830700e+10,4259600000,9.240000e+08,-8.890000e+08,-1.290000e+09
34,IBM,2015-09-30,108649000000,95198000000,13294000000,19280000000,1.721800e+10,3723600000,4.235000e+09,-2.780000e+08,-5.780000e+08
33,IBM,2015-12-31,110495000000,96071000000,14262000000,22059000000,1.845200e+10,5234900000,5.526000e+09,-4.371000e+09,-3.340000e+08
32,IBM,2016-03-31,118856000000,103784000000,14925000000,18684000000,1.749900e+10,1178000000,5.530000e+09,-7.860000e+08,4.056000e+09
31,IBM,2016-06-30,118056000000,102167000000,15733000000,20238000000,1.885700e+10,3215000000,3.458000e+09,-3.726000e+09,-1.900000e+09
30,IBM,2016-09-30,115606000000,98447000000,17010000000,19226000000,1.771500e+10,3420000000,4.117000e+09,-1.830000e+08,-2.848000e+09
29,IBM,2016-12-31,117470000000,99078000000,18246000000,21770000000,1.848800e+10,5138000000,3.979000e+09,-2.666000e+09,3.100000e+07
28,IBM,2017-03-31,117495000000,99047000000,18327000000,18155000000,1.748200e+10,1556000000,3.955000e+09,1.043000e+09,-8.130000e+08
27,IBM,2017-06-30,120495000000,101951000000,18419000000,19289000000,1.799900e+10,2589000000,3.466000e+09,-9.830000e+08,7.940000e+08
26,IBM,2017-09-30,121636000000,101879000000,19627000000,19153000000,1.743500e+10,3233000000,3.570000e+09,-1.058000e+09,-1.361000e+09
25,IBM,2017-12-31,125356000000,107631000000,17594000000,22542000000,2.447200e+10,4632000000,5.733000e+09,-2.854000e+09,4.680000e+08
24,IBM,2018-03-31,125285000000,106995000000,18166000000,19072000000,1.798000e+10,1304000000,4.602000e+09,-8.940000e+08,-1.527000e+09
23,IBM,2018-06-30,121622000000,102974000000,18520000000,20003000000,1.825500e+10,2950000000,2.294000e+09,2.960000e+08,-1.082000e+09
22,IBM,2018-09-30,121990000000,102071000000,19784000000,18756000000,1.675900e+10,3189000000,4.232000e+09,-2.157000e+09,9.950000e+08
21,IBM,2018-12-31,123382000000,106452000000,16796000000,21761000000,2.045000e+10,4625000000,4.119000e+09,1.237000e+09,-3.189000e+09
20,IBM,2019-03-31,130926000000,114320000000,16481000000,18182000000,1.736800e+10,2090000000,4.759000e+09,-3.140000e+08,3.260000e+09
19,IBM,2019-06-30,154652000000,136876000000,17645000000,19161000000,1.813500e+10,3115000000,2.941000e+09,4.745000e+09,2.246700e+10
18,IBM,2019-09-30,149620000000,131524000000,17956000000,18028000000,1.704800e+10,1953000000,3.619000e+09,-2.978500e+10,-6.741000e+09
17,IBM,2019-12-31,152186000000,131202000000,20841000000,2344000000,3.887000e+09,3677000000,3.451000e+09,7.040000e+08,-4.237000e+09
16,IBM,2020-03-31,153403000000,133275000000,19999000000,17571000000,1.743800e+10,275000000,4.476000e+09,-2.720000e+08,1.325000e+09
15,IBM,2020-06-30,154200000000,133512000000,20551000000,18123000000,1.715700e+10,1893000000,3.576000e+09,-6.510000e+08,-1.740000e+08
14,IBM,2020-09-30,154128000000,132794000000,21208000000,17560000000,1.626600e+10,2149000000,4.285000e+09,3.930000e+08,-2.360000e+08
13,IBM,2020-12-31,155971000000,135244000000,20597000000,1926000000,-1.433000e+09,1201000000,5.860000e+09,1.200000e+08,-4.839000e+09
12,IBM,2021-03-31,148629000000,127116000000,21389000000,13187000000,1.402000e+10,1075000000,4.914000e+09,-1.506000e+09,-4.326000e+09
11,IBM,2021-06-30,146814000000,124747000000,21942000000,14218000000,1.407800e+10,1707000000,2.625000e+09,-2.111000e+09,-1.664000e+09
10,IBM,2021-09-30,144214000000,121858000000,22228000000,13251000000,1.326900e+10,1196000000,2.713000e+09,-7.100000e+07,-2.770000e+08
9,IBM,2021-12-31,132001000000,113005000000,18901000000,16694000000,1.373000e+10,3042000000,2.544000e+09,-2.250000e+08,-1.218000e+09
8,IBM,2022-03-31,133275000000,114162000000,19050000000,14197000000,1.462400e+10,1005000000,3.248000e+09,-1.077000e+09,2.852000e+09
7,IBM,2022-06-30,127503000000,108026000000,19409000000,15535000000,1.433900e+10,1946000000,1.321000e+09,5.110000e+08,-2.708000e+09
6,IBM,2022-09-30,125850000000,105703000000,20076000000,14107000000,1.222100e+10,-4188000000,1.901000e+09,-1.380000e+09,2.204000e+09
5,IBM,2022-12-31,127243000000,105222000000,21944000000,16690000000,1.472000e+10,3467000000,3.965000e+09,-9.100000e+08,-1.358000e+09
4,IBM,2023-03-31,133637000000,111964000000,21604000000,14252000000,1.503400e+10,1418000000,3.774000e+09,-7.660000e+09,7.205000e+09
3,IBM,2023-06-30,132213000000,109942000000,22201000000,15475000000,1.489000e+10,2425000000,2.638000e+09,3.710000e+08,-1.220000e+09
2,IBM,2023-09-30,129321000000,106165000000,23081000000,14752000000,1.390100e+10,2275000000,3.056000e+09,-1.672000e+09,-1.617000e+09
1,IBM,2023-12-31,135241000000,112628000000,22533000000,17381000000,1.499500e+10,4167000000,4.463000e+09,3.136000e+09,-9.700000e+07
0,IBM,2024-03-31,137169000000,113836000000,23261000000,14462000000,1.490400e+10,1535000000,4.168000e+09,-3.971000e+09,3.399000e+09

## Key Financial Ratios

In [ ]:
combined_df = pd.merge(debt_to_equity_ratio_df, inventory_turnover_df, on=['Symbol', 'Fiscal Date Ending'], how='inner')

key_financial_ratios_df = pd.merge(combined_df, roa_df, on=['Symbol', 'Fiscal Date Ending'], how='inner')

key_financial_ratios_df

,Symbol,Fiscal Date Ending,Debt to Equity Ratio,Inventory Turnover,ROA (%)
0,IBM,2024-03-31,4.893857,0.023102,1.170089
1,IBM,2023-12-31,4.998358,0.094395,2.431215
2,IBM,2023-09-30,4.599671,0.032813,1.317651
3,IBM,2023-06-30,4.952119,0.042069,1.197310
4,IBM,2023-03-31,5.182559,0.019330,0.693670
5,IBM,2022-12-31,4.795024,0.120444,2.129783
6,IBM,2022-09-30,5.265142,0.034071,-2.539531
7,IBM,2022-06-30,5.565768,0.069005,1.091739
8,IBM,2022-03-31,5.992756,0.010983,0.549991
9,IBM,2021-12-31,5.978784,0.051971,1.767411
10,IBM,2021-09-30,5.482185,0.027684,0.783558
11,IBM,2021-06-30,5.685307,0.055706,0.902502
12,IBM,2021-03-31,5.943055,0.032462,0.642539
13,IBM,2020-12-31,6.566199,0.099451,0.869392
14,IBM,2020-09-30,6.261505,0.034034,1.101682
15,IBM,2020-06-30,6.496618,0.061289,0.882620
16,IBM,2020-03-31,6.664083,0.041587,0.765956
17,IBM,2019-12-31,6.295379,0.227313,2.411523
18,IBM,2019-09-30,7.324794,0.045032,1.117498
19,IBM,2019-06-30,7.757212,0.042812,1.615239
20,IBM,2019-03-31,6.936472,0.031286,1.215190
21,IBM,2018-12-31,6.337938,6.413553,1.581268
22,IBM,2018-09-30,5.159270,5.568112,2.208378
23,IBM,2018-06-30,5.560151,5.944429,1.976616
24,IBM,2018-03-31,5.889849,6.194564,1.340144
25,IBM,2017-12-31,6.117483,6.811751,-0.840805
26,IBM,2017-09-30,5.190758,6.090468,2.241113
27,IBM,2017-06-30,5.535100,6.158069,1.934520
28,IBM,2017-03-31,5.404431,6.289449,1.489425
29,IBM,2016-12-31,5.430122,6.699557,3.831617
30,IBM,2016-09-30,5.787596,6.065814,2.467865
31,IBM,2016-06-30,6.493803,6.018161,2.121027
32,IBM,2016-03-31,6.953702,5.783704,1.694487
33,IBM,2015-12-31,6.736152,6.402345,4.044436
34,IBM,2015-09-30,7.160975,6.075221,2.712956
35,IBM,2015-06-30,7.226834,5.762837,3.057421
36,IBM,2015-03-31,8.215715,5.102009,2.076814
37,IBM,2014-12-31,8.868975,5.390130,4.673960
38,IBM,2014-09-30,7.331813,5.053151,0.013119
39,IBM,2014-06-30,6.146113,5.181082,3.325933
40,IBM,2014-03-31,6.377190,4.865248,1.944213
41,IBM,2013-12-31,4.532029,5.488040,4.919732
42,IBM,2013-09-30,4.922121,5.028322,3.427553
43,IBM,2013-06-30,5.478092,5.133374,2.800709
44,IBM,2013-03-31,5.135345,5.179626,2.584557
45,IBM,2012-12-31,5.314369,5.876805,4.890910
46,IBM,2012-09-30,4.368971,5.235789,3.300282
47,IBM,2012-06-30,4.555930,4.947605,3.407653
48,IBM,2012-03-31,4.568040,4.829463,2.654946
49,IBM,2011-12-31,4.776889,5.416713,4.714900
50,IBM,2011-09-30,3.937957,5.214150,3.484177
51,IBM,2011-06-30,3.902927,5.352559,3.227083
52,IBM,2011-03-31,3.977990,5.273721,2.532224
53,IBM,2010-12-31,3.917339,5.795959,4.630505
54,IBM,2010-09-30,3.813967,5.127387,3.346334
55,IBM,2010-06-30,3.905409,4.839587,3.273061
56,IBM,2010-03-31,3.769754,4.925962,2.472245
57,IBM,2009-12-31,3.810885,5.493822,4.414705
58,IBM,2009-09-30,4.630463,5.014683,3.100072
59,IBM,2009-06-30,5.733550,4.722551,2.993584

## Accounts

In [ ]:
balance_sheet_url = f"{base_url}function=BALANCE_SHEET&symbol={symbol}&apikey={apikey}"
balance_sheet_response = requests.get(balance_sheet_url)

if balance_sheet_response.status_code == 200:
    balance_sheet_data = balance_sheet_response.json()
    
    fiscal_date_endings = []
    current_net_receivables = []
    current_accounts_payable = []
    
    for report in balance_sheet_data["quarterlyReports"]:
        fiscal_date_endings.append(report['fiscalDateEnding'])
        current_net_receivables.append(report['currentNetReceivables'])
        current_accounts_payable.append(report['currentAccountsPayable'])
    
    quarterly_accounts_df = pd.DataFrame({
        'Symbol': [symbol] * len(fiscal_date_endings),
        'Fiscal Date Ending': fiscal_date_endings,
        'Current Net Receivables': current_net_receivables,
        'Current Accounts Payable': current_accounts_payable
    })

quarterly_accounts_df

## Market Indicators

In [ ]:
quarterly_market_indicators_data_df = daily_technical_indicators_combined_df.resample('Q').mean()

rename_dict = {col: col.replace('Daily', 'Quarterly') for col in quarterly_market_indicators_data_df.columns}

quarterly_market_indicators_data_df.rename(columns=rename_dict, inplace=True)

quarterly_market_indicators_data_df

            Quarterly MACD  Quarterly VWAP  Quarterly RSI
2024-03-31        3.694389      180.999116      63.159367
2024-06-30       -1.210739      180.285335      34.693057

## Economic Indicators

In [ ]:
gdp_rates_df['Date'] = pd.to_datetime(gdp_rates_df['Date'])
inflation_rates_df['Date'] = pd.to_datetime(inflation_rates_df['Date'])
unemployment_rates_df['Date'] = pd.to_datetime(unemployment_rates_df['Date'])

combined_df = pd.merge(gdp_rates_df, inflation_rates_df, on='Date', how='inner', suffixes=('', '_inflation'))

combined_df = pd.merge(combined_df, unemployment_rates_df, on='Date', how='inner', suffixes=('', '_unemployment'))

economic_indicators_df = combined_df[combined_df['Date'] >= '1960-01-01']

economic_indicators_df.rename(columns={
    'GDP Rate': 'GDP',
    'value': 'Inflation Rate',
    'value_unemployment': 'Unemployment Rate'
}, inplace=True)

economic_indicators_df.sort_values('Date', inplace=True)

economic_indicators_df